<h1><%= "#{t :new} #{t :voucher}" %></h1>
<%= simple_form_for @voucher, url: clerks_vouchers_path do |form| %>
      <%= form.input :monetary_value, as: :string, label: t("vouchers.monetary_value"), input_html: { class: "moneymask"} %>
      <%= form.submit "#{t(:new)} #{t(:voucher)}", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $(".moneymask").maskMoney({ thousands:'.', decimal:',', allowZero: true, precision: 2 });
  });
</script>